body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 95%;
  /* max-width: 1200px; */
  padding: 15px;
}
.w-100 {
  width: 100%;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.mx-2 {
  margin-right: 10px;
  margin-left: 10px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* grid para formulario */
.container-simulador {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
}
@media (min-width: 768px) {
  .container-simulador {
    grid-template-columns: 1fr 1fr;
  }
}
